form{
    background-color:black;
    color: aliceblue;
}
h1,h2,h3,h4,h5,h6{
    color: aliceblue;
}
form .form_align{
  
}
.formulario{
    margin-left: 18%;
    margin-right: 18%;
}
.color_form{
    background-color: rgba(214, 214, 214, 0.87);
}
.br{
    display: flex;
    align-items: center;
    justify-content: center;
}